<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <activity
            android:name=".boundaries.ReasonOfDenialBoundary" />
        <activity
            android:name=".boundaries.TrainerProfileBoundary"
            android:exported="false" />
        <activity
            android:name=".boundaries.TrainersListBoundary"
            android:exported="false" />
        <activity
            android:name=".boundaries.HoursListBoundary"
            android:exported="false" />
        <activity
            android:name=".boundaries.GymListBoundary"
            android:exported="false" />
        <activity
            android:name=".boundaries.WorkoutPageBoundary"
            android:exported="false" />
        <activity
            android:name=".boundaries.LoginBoundary"
            android:exported="false" />
        <activity
            android:name=".boundaries.UserProfile"
            android:exported="false" />
        <activity
            android:name=".boundaries.GymsInAreaBoundary"
            android:exported="false" />
        <activity
            android:name=".boundaries.MapBoundary"
            android:exported="false" />
        <activity
            android:name=".boundaries.UploadDocumentsBoundary"
            android:exported="false" />
        <activity
            android:name=".boundaries.HomePageBoundary"
            android:exported="true" />
        <activity
            android:name=".boundaries.RegisterAttemptBoundary"
            android:exported="false" />
        <activity
            android:name=".entities.Leaderboard"
            android:exported="false" />
        <activity
            android:name=".boundaries.LeaderboardBoundary"
            android:exported="false" />
        <activity
            android:name=".boundaries.ReportListBoundary"
            android:exported="false" />
        <activity
            android:name=".boundaries.PreviewReportBoundary"
            android:exported="false" />

        <activity
            android:name=".boundaries.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".boundaries.ChooseExerciseBoundary" />
        <activity android:name=".boundaries.ChooseCategoryBoundary" />
        <activity android:name=".boundaries.FindWorkoutPlanBoundary" />
        <activity android:name=".boundaries.CreateWorkoutPlanBoundary" />
        <activity android:name=".boundaries.SetupDayOfWorkoutBoundary" />
        <activity android:name=".boundaries.ChooseExercisesBoundary" />
        <activity android:name=".boundaries.Request_List_Boundary" android:exported="false" />

        <activity android:name=".boundaries.ApplicationCompleteBoundary"/>
        <activity android:name=".boundaries.PreviewTrainerApplicationBoundary" />
        <activity android:name=".boundaries.PreviewWorkoutPlanBoundary" />
        <activity android:name=".boundaries.AdminHomepage" />
<!--        <activity android:name=".ReportList" />-->
    </application>

</manifest>